@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--bg: #000000;
	--bg-2: #232323;
	--bg-active: #ffffff;
	--text: #ffffff;
	--text-2: #a9a9a9;
}

body {
	background-color: var(--bg);
	color: var(--text);

	width: 100vw;
	height: 100dvh;

	padding: 0;
	margin: 0;
}

.fja {
	display: flex;
	justify-content: center;
	align-items: center;
}

.invert-based-on-z {
	mix-blend-mode: difference;
	color: white;
}
